#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	set -e; for x in espresso@coadmunkee.github.com/locale/*; do \
		install -d debian/tmp/usr/share/locale/$$(basename $$x)/LC_MESSAGES; \
		install -m644 $$x/LC_MESSAGES/*.mo debian/tmp/usr/share/locale/$$(basename $$x)/LC_MESSAGES; \
	done
	dh_install
