Source: vivid
Section: unknown
Priority: optional
Maintainer: Mario Finelli <ubuntu@mroml.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/vivid
#Vcs-Git: https://salsa.debian.org/debian/vivid.git

Package: vivid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
