Source: kubectx
Section: utils
Priority: optional
Maintainer: Mario Finelli <ubuntu@mroml.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/ahmetb/kubectx
#Vcs-Browser: https://salsa.debian.org/debian/kubectx
#Vcs-Git: https://salsa.debian.org/debian/kubectx.git
# Source-Archive: https://github.com/ahmetb/kubectx/archive/v0.9.4.tar.gz

Package: kubectx
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Faster way to switch between clusters and namespaces in kubectl
 kubectx is a tool to switch between contexts (clusters) on kubectl faster.
 kubens is a tool to switch between Kubernetes namespaces (and configure them
 for kubectl) easily.
