Source: houmain-keymapper
Section: utils
Priority: optional
Maintainer: Mario Finelli <ubuntu@mroml.com>
Build-Depends:
 debhelper-compat (= 12),
 cmake,
 git,
 pkg-config,
 libudev-dev,
 libusb-1.0-0-dev,
 libx11-dev,
 libdbus-1-dev,
 libwayland-dev,
Standards-Version: 4.4.1
Homepage: https://github.com/houmain/keymapper
# Source-Archive: https://github.com/houmain/keymapper/archive/refs/tags/2.5.1.tar.gz

Package: houmain-keymapper
Architecture: any
Depends:
 libudev1,
 libusb-1.0-0,
 libx11-6,
 libdbus-1-3,
 libwayland-client0,
 ${shlibs:Depends},
 ${misc:Depends}
Description: A cross-platform context-aware key remapper
 A cross-platform context-aware key remapper. It allows to:
 .
 - Redefine keyboard shortcuts system-wide or per application.
 - Manage all your keyboard shortcuts in a single configuration file.
 - Change shortcuts for similar actions in different applications at once.
 - Share configuration files between multiple systems (GNU/Linux, Windows).
 - Bind keyboard shortcuts to terminal commands.
